<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='images/observation.png') }}">
  <title>VisioWave</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div class="background">
    <div class="floating-container">
      <h1>Nice choice!</h1>
      <p>Now choose the model to use!</p>
      <div class="button-container">
        <a href="image" class="button">stable-diffusion-v1-4</a>
        <a href="image2" class="button">text-to-video-ms-1.7b</a>
      </div>
    </div>
  </div>
</body>
</html>
