<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='images/observation.png') }}">
  <title>Set Ngrok URL</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div class="background">
    <div class="floating-container">
      <h1>Set Ngrok URL</h1>
      <form action="/set_ngrok_url" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="input-wrap">
          <input type="text" name="ngrok_url" class="input-field" required />
        </div>
        <input type="submit" value="Submit" class="sign-btn" />
      </form>
    </div>
  </div>
</body>
</html>
